<!DOCTYPE html>
<html lang="zh-Hans">
<html xmlns:wb="http://open.weibo.com/wb">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 9dic.com -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2380504790319271"
     data-ad-slot="7261632341"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    {% include footer.html %}

</body>

</html>
