<!DOCTYPE html>
<html lang="en">
<html xmlns:wb="http://open.weibo.com/wb">
{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259546538'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1259546538%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</body>

</html>
