---
layout: default
---

<!-- Page Header -->
<!-- old -->
<!-- <header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')"> -->
<!-- New -->
<header class="intro-header">
<div id="picture-wrapper">
    <div class="picture-wrapper">
        <div class="slide-main">
        <ul>
        
            <li>
                <a href="/thread/71848/" class='img-box' target='_blank' title="怕你爱上这里 土耳其竟这么美">
                    <img src="http://imageqiniu.xxxxxbbs.com/FrqzX-K4X1EAmeAhPtG94aRFAjjK?imageMogr2/auto-orient/thumbnail/!914x475r/gravity/Center/crop/914x475/quality/100" alt="怕你爱上这里 土耳其竟这么美">
                    <span>怕你爱上这里 土耳其竟这么美<br> BY:Salam爱摄影 </span>
                </a>
            </li>
        
            <li>
                <a href="/thread/71004/" class='img-box' target='_blank' title="美国ICC俱乐部员工教我打球">
                    <img src="http://imageqiniu.xxxxxbbs.com/FnIu8aZhF5RXIPOf2yuPHosObIsf?imageMogr2/auto-orient/thumbnail/!914x475r/gravity/Center/crop/914x475/quality/100" alt="美国ICC俱乐部员工教我打球">
                    <span>美国ICC俱乐部员工教我打球<br> BY:春晖_SPARK </span>
                </a>
            </li>
        
            <li>
                <a href="/thread/71169/" class='img-box' target='_blank' title="户外大神介绍攀岩那些装备">
                    <img src="http://imageqiniu.xxxxxbbs.com/FunoTPy25CqfPAbIFZ9sAX8Y4Q59?imageMogr2/auto-orient/thumbnail/!914x475r/gravity/Center/crop/914x475/quality/100" alt="户外大神介绍攀岩那些装备">
                    <span>户外大神介绍攀岩那些装备<br> BY:林昊月 </span>
                </a>
            </li>
        
            <li>
                <a href="/thread/70820/" class='img-box' target='_blank' title="90后小伙杰德置换16款CR-V">
                    <img src="http://imageqiniu.xxxxxbbs.com/FgzMlq3h-dfKed0OUviXcn7TYCoE?imageMogr2/auto-orient/thumbnail/!914x475r/gravity/Center/crop/914x475/quality/100" alt="90后小伙杰德置换16款CR-V">
                    <span>90后小伙杰德置换16款CR-V<br> BY:胖墩联盟 </span>
                </a>
            </li>
        
            <li>
                <a href="/thread/69857/" class='img-box' target='_blank' title="拉萨郊外“灵魂歌者”众筹招募">
                    <img src="http://imageqiniu.xxxxxbbs.com/FjF7UQzpTUPMpd8sqrs55T8mPyt1?imageMogr2/auto-orient/thumbnail/!914x475r/gravity/Center/crop/914x475/quality/100" alt="拉萨郊外“灵魂歌者”众筹招募">
                    <span>拉萨郊外“灵魂歌者”众筹招募<br> BY:电商小妹 </span>
                </a>
            </li>
        
            <li>
                <a href="/thread/71848/" class='img-box' target='_blank' title="怕你爱上这里 土耳其竟这么美">
                    <img src="http://imageqiniu.xxxxxbbs.com/FrqzX-K4X1EAmeAhPtG94aRFAjjK?imageMogr2/auto-orient/thumbnail/!914x475r/gravity/Center/crop/914x475/quality/100" alt="怕你爱上这里 土耳其竟这么美">
                    <span>怕你爱上这里 土耳其竟这么美<br> BY:Salam爱摄影 </span>
                </a>
            </li>    
        </ul>
        </div>
        <ul class="slide-list">
        
            
            <li style="margin-top:0px;" class="active" order="1">
                <em></em>
                <a href="javascript:;">
                    <img src="http://imageqiniu.xxxxxbbs.com/FidhAxrqCmWC0EKp33vgOw5nDVhP?imageMogr2/auto-orient/thumbnail/!171x83r/gravity/Center/crop/171x83/quality/100">
                    <span><b>怕你爱上这里 土耳其竟这么美</b></span>
                </a>
            </li>
            
            
        
            
            
            <li order="2">
                <em></em>
                <a href="javascript:;">
                    <img src="http://imageqiniu.xxxxxbbs.com/FnPkF1PzXN8QSUrFyies6xulYfT4?imageMogr2/auto-orient/thumbnail/!171x83r/gravity/Center/crop/171x83/quality/100">
                    <span><b>美国ICC俱乐部员工教我打球</b></span>
                </a>
            </li>        
            
        
            
            
            <li order="3">
                <em></em>
                <a href="javascript:;">
                    <img src="http://imageqiniu.xxxxxbbs.com/Fj7WJNvofnPn07qEGMQ52EWD5bDu?imageMogr2/auto-orient/thumbnail/!171x83r/gravity/Center/crop/171x83/quality/100">
                    <span><b>户外大神介绍攀岩那些装备</b></span>
                </a>
            </li>        
            
        
            
            
            <li order="4">
                <em></em>
                <a href="javascript:;">
                    <img src="http://imageqiniu.xxxxxbbs.com/FiUAbZwGBCLeMHJcxq7mlFMrxtos?imageMogr2/auto-orient/thumbnail/!171x83r/gravity/Center/crop/171x83/quality/100">
                    <span><b>90后小伙杰德置换16款CR-V</b></span>
                </a>
            </li>        
            
        
            
            
            <li order="5">
                <em></em>
                <a href="javascript:;">
                    <img src="http://imageqiniu.xxxxxbbs.com/FjF7UQzpTUPMpd8sqrs55T8mPyt1?imageMogr2/auto-orient/thumbnail/!171x83r/gravity/Center/crop/171x83/quality/100">
                    <span><b>拉萨郊外“灵魂歌者”众筹招募</b></span>
                </a>
            </li>        
            
        </ul>
    </div>
</div>
    <meta property="wb:webmaster" content="bbfcd192a54df7c6" />
    <script type="text/javascript" charset="utf-8" src="http://7xqmgj.com1.z0.glb.clouddn.com/slidei-picjq.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://7xqmgj.com1.z0.glb.clouddn.com/slidei-picgeneral.js"></script>
    <link href="http://7xqmgj.com1.z0.glb.clouddn.com/slidei-pichomepage.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://7xqmgj.com1.z0.glb.clouddn.com/slidei-picgeneral.css">
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="http://7xqmgj.com1.z0.glb.clouddn.com/slidei-pichomepage.js"></script>
<script>
    function threadSort(sort){
      window.location="/index?sorts="+$("#retMainPage").val();
    }
</script>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
        {% if site.sidebar == false %}
<!-- NO SIDEBAR -->
    <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
                {{ content }}
            </div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {% if site.featured-tags %}
                <section>
                    <!-- no hr -->
                    <h5><a href="/pages/tags/">FEATURED TAGS</a></h5>
                    <div class="tags">
        				{% for tag in site.tags %}
                            {% if tag[1].size > {{site.featured-condition-size}} %}
                				<a href="{{ site.baseurl }}/pages/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                                    {{ tag[0] }}
                                </a>
                            {% endif %}
        				{% endfor %}
        			</div>
                </section>
                {% endif %}

                <!-- Friends Blog -->
                {% if site.friends %}
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        {% else %}

<!-- USE SIDEBAR -->
    <!-- Post Container -->
    		<div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
            ">
    			{{ content }}
    		</div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <!-- Featured Tags -->
                {% if site.featured-tags %}
                <section>
                    <hr class="hidden-sm hidden-xs">
                    <h5><a href="{{/pages/tags/ | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
                    <div class="tags">
                        {% for tag in site.tags %}
                            {% if tag[1].size > {{site.featured-condition-size}} %}
                                <a href="{{ site.baseurl }}/pages/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                                    {{ tag[0] }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
                {% endif %}

                <!-- Short About -->
                <section class="visible-md visible-lg">
                    <hr><h5><a href="{{/pages/about/ | prepend: site.baseurl }}">ABOUT ME</a></h5>
                    <div class="short-about">
                        {% if site.sidebar-avatar %}
                            <img src="{{site.sidebar-avatar}}" />
                        {% endif %}
                        {% if site.sidebar-about-description %}
                            <p>{{site.sidebar-about-description}}</p>
                        {% endif %}
                         <!-- New Weichat -->
                          <!-- <div class="short-about">
                        {% if site.sidebar-avatar %}
                            <img src="{{site.sidebar-wechat}}" />
                        {% endif %}  -->
                        <!-- SNS Link -->
                        <ul class="list-inline">
                            {% if site.RSS %}
                            <li>
                                <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.twitter_username %}
                            <li>
                                <a href="https://twitter.com/{{ site.twitter_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.zhihu_username %}
                            <li>
                                <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa  fa-stack-1x fa-inverse">知</i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.weibo_username %}
                            <li>
                                <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.facebook_username %}
                            <li>
                                <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.github_username %}
                            <li>
                                <a target="_blank" href="https://github.com/{{ site.github_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.mail_username %}
                    <li>
                        <a target="_blank" href="mailto:{{ site.mail_username }}.com">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">邮</i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                        </ul>
                    </div>
                </section>
                <!-- Friends Blog -->
                {% if site.friends %}
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
    		</div>
        {% endif %}
	</div>
</div>
